@model Inei.ViewModel.AddEditEncuestaViewModel
@{
    ViewBag.Title = "Lista de Encuestas";


}


@if (TempData["Mensaje"] != null)
{

    <div class="alert alert-warning fade in">
        <button type="button" class="close close-sm" data-dismiss="alert"> <i class="icon-remove"></i> </button>
        <strong>Mensaje:</strong> @TempData["Mensaje"].ToString()
    </div>

}
<div class="wrapper">
    <div class="page-content">
        <div class="content container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-title">LISTA DE ENCUESTAS <small> Listar</small></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-header">
                            <i class="icon-table"></i>
                            <h3>Encuestas registradas</h3>
                        </div>
                        <div class="widget-content">

                            <div class="example_alt_pagination">
                                <div id="container">
                                    <div class="full_width big"></div>
                                    <div id="demo">
                                        @if (Model.LstEncuestas.Count() != 0)
                                        {
                                            <table cellpadding="0" cellspacing="0" border="0" class="table" id="example">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Nombre</th>
                                                        <th>Descripcion</th>
                                                        <th>Costo</th>

                                                        <th>Estado</th>
                                                        <th>ID usuario</th>

                                                        <th>Opciones</th>

                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var listar in Model.LstEncuestas)
                                                    {
                                                        <tr class="gradeX">
                                                            <td>@listar.EncuestaId</td>
                                                            <td>@listar.Nombre</td>
                                                            <td>@listar.Descripcion</td>
                                                            
                                                            <td>@listar.CostoEstimado</td>

                                                            <td>@listar.Estado</td>
                                                            
                                                            <td>@listar.UsuarioRegistroId</td>
                                                         
                                                            <td class="hidden-xs">
                                                                <a class="btn btn-sm btn-primary" href="@Url.Action("RegistroEncuesta", new { encuestaId= listar.EncuestaId})">Editar</a>
                                                                <a class="btn btn-sm btn-primary" href="@Url.Action("EliminarEncuesta", new { encuestaId= listar.EncuestaId})">Eliminar</a>
                                                                <a class="btn btn-sm btn-primary" href="@Url.Action("ResponderEncuesta", new { encuestaId= listar.EncuestaId})">Responder</a>

                                                            </td>
                                                        </tr>
                                                    }


                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th> </th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        }
                                        else
                                        {
                                            <h4> Ningun Dato encontrado </h4>

                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








