
@model Inei.ViewModel.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>UPC INEI ADMIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet" media="screen">
    <link href="@Url.Content("~/Content/css/thin-admin.css")" rel="stylesheet" media="screen">
    <link href="@Url.Content("~/Content/css/font-awesome.css")" rel="stylesheet" media="screen">
    <link href="@Url.Content("~/Content/style/style.css")" rel="stylesheet">

</head>
<body>
    <div class="login-logo">
        <h3 width="147" height="33"> UPC INEI ADMINISTRADOR</h3>
    </div>
    <div class="widget">
        <div class="login-content">
            <div class="widget-content" style="padding-bottom:0;">

                <h3 class="form-title">Iniciar Sesión</h3>


                @if (TempData["Mensaje"] != null)
                {

                    <div class="alert alert-warning fade in">
                        <button type="button" class="close close-sm" data-dismiss="alert"> <i class="icon-remove"></i> </button>
                        <strong>Mensaje:</strong> @TempData["Mensaje"].ToString()
                    </div>

                }
                @using (Html.BeginForm("LoginAdmin", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                       <fieldset>
                        <div class="form-group no-margin">
                            <label>DNI</label>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="icon-user"></i>
                                </span>
                                @Html.TextBoxFor(x => x.Codigo, new { @class = "form-control", @placeholder = "Codigo..." })
                                @Html.ValidationMessageFor(x => x.Codigo, "", new { @class = "text-danger", @id = "usernameInput" })
                         </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="icon-lock"></i>
                                </span>
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Password..." })
                                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger", @id = "passwordInput" })
                         </div>
                        </div>
                    </fieldset>
                    <button class="btn btn-warning pull-right" type="submit">
                        Ingresar <i class="m-icon-swapright m-icon-white"></i>
                    </button>
                    <div class="form-actions">
                        <label>
                       
                        </label>
                    </div>
                    <ul>@Html.ActionLink("Iniciar como encuestado", "Login", "Home")</ul>
                }
            </div>
           
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="@Url.Content("~/Content/js/jquery.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
</body>
</html>
